@page
@model GourmetPizza.Pages.PizzaTest.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table-bordered">
    <tr>
        <th>Pizza Type</th>
        <th>Pizza Name</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>1</td>
        <td>BBQ Beef</td>
        <td>$10.50</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Chicken and Pineapple</td>
        <td>$8.50</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Pepperoni Feast</td>
        <td>$9.00</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Vegetarian</td>
        <td>$7.00</td>
    </tr>
</table>