@page
@model GourmetPizza.Pages.PizzaTest.PurchaseModel
@{
    ViewData["Title"] = "Purchase";
}

<h4>You Purchased @ViewData["Name"]</h4>

<img src="~/images/@(ViewData["Name"]).jpg" />

<h3>Total Price: @string.Format("{0:C}", ViewData["Price"])</h3>