@page
@model GourmetPizzaPrac3.Pages.Purchases.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Purchase</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Purchase.ID" />
            <div class="form-group">
                <label asp-for="Purchase.PizzaID" class="control-label"></label>
                <select asp-for="Purchase.PizzaID" class="form-control" asp-items="ViewBag.PizzaID"></select>
                <span asp-validation-for="Purchase.PizzaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purchase.CustomerEmail" class="control-label"></label>
                <select asp-for="Purchase.CustomerEmail" class="form-control" asp-items="ViewBag.CustomerEmail"></select>
                <span asp-validation-for="Purchase.CustomerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purchase.PizzaCount" class="control-label"></label>
                <input asp-for="Purchase.PizzaCount" class="form-control" />
                <span asp-validation-for="Purchase.PizzaCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purchase.TotalPrice" class="control-label"></label>
                <input asp-for="Purchase.TotalPrice" class="form-control" />
                <span asp-validation-for="Purchase.TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
